*{
    font-family: calibri;
    padding: 0;
    margin: 0;
}

.pokemon_card-container{
    padding: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon_card{
    box-shadow: 2px 2px 8px 2px gray;
    border-radius: 8px;
    height: 196px;
    width: 128px;
}
    .pokemon_card > .img{
        height: 60%;
        border-radius: 8px 8px 0 0;
    }
    .pokemon_card > .name{
        color: white;
        background: lightblue;
        border-radius: 0 0 8px 8px;
        height: 40%;
        padding: 8px;
        box-sizing: border-box;
    }