*{
    font-family: calibri;
    padding: 0;
    margin: 0;
}

.section-pokemon{
    display: flex;
    justify-content: center;
    
}

.card-pokemon{
    box-shadow: 2px 2px 8px 2px gray;
    border-radius: 8px;
    height: 196px;
    width: 128px;
}
    .card-pokemon > .img{
        height: 60%;
        border-radius: 8px 8px 0 0;
    }
    .card-pokemon > .name{
        color: white;
        background: lightblue;
        border-radius: 0 0 8px 8px;
        height: 40%;
        padding: 8px;
        box-sizing: border-box;
    }